.fila {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

input {
	background: none;
	border: solid 2px white;
	border-radius: 7px;
	width: 20rem;
	height: 1.5rem;
	color: white;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.cargar-panel {
	background-color: #ac64ff;
	border: solid 2px #5e20a4;
	border-radius: 10px;
	width: 10rem;
	height: 2.5rem;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.7s;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.cargar-panel:hover {
	background: none;
	border: solid 2px white;
}
