/*
.greenScreen {
	padding: 2rem;
	background-color: greenyellow;
}
*/

.fila {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

input {
	background: none;
	border: solid 2px white;
	border-radius: 7px;
	width: 20rem;
	height: 1.5rem;
	color: white;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.cargar-panel {
	background-color: #ac64ff;
	border: solid 2px #5e20a4;
	border-radius: 10px;
	width: 10rem;
	height: 2.5rem;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.4s;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.cargar-panel:hover {
	background: none;
	border: solid 2px white;
}

.resolver-panel {
	background-color: #f5ebff;
	border: solid 2px #5e20a4;
	border-radius: 10px;
	width: 10rem;
	height: 2.5rem;
	color: #5e20a4;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.4s;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.resolver-panel:hover {
	background: none;
	border: solid 2px white;
	color: white;
}

.columnas {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.right input {
	width: 4rem;
}

.right .cargar-panel {
	width: 4.7rem;
}
