.letter-card {
	border: solid 3px #ffffff;
	border-radius: 15px;
	height: 5rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	font-size: 1.2rem;
	margin: 0;
	background: none;
	cursor: pointer;
	color: white;
	transition: 0.5s;
}

.letter-card:hover {
	background: #c6c6c6;
}
