.letter-card {
	border: solid 3px #ffffff;
	border-radius: 15px;
	height: 5rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 2rem;
	margin: 0;
	background: none;
	cursor: pointer;
	color: white;
	transition: 0.4s;
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}

.letter-card:hover {
	background: #c6c6c6;
}

.space {
	cursor: auto;
	background: rgb(28, 118, 213);
	border: solid 3px rgb(19, 97, 180);
}

.space:hover {
	background: rgb(28, 118, 213);
}

.correct {
	background: rgb(252, 252, 252);
	border: solid 3px rgb(239, 239, 239);
	color: black;
}

.correct:hover {
	background: rgb(252, 252, 252);
}

.not-yet {
	background: #525252;
	transition: 1s;
	color: black;
}

.not-yet:hover {
	background: rgb(255, 184, 112);
	border: solid 3px rgb(239, 160, 81);
}
